 <html>
    <body>
    <style>
       body {
        background-color: lightblue;
                }
    </style>
    <h1>Confirm a booking: <h1>
    <form action="/approve_booking/<%=@booking.id%>" method="post">
        <input type="text" name="host_input">   
        <input type='submit'>
    </form>
    </body>
  </html>