<!DOCTYPE html>
     <style>
       body {
        background-color: lightblue;
                }

         #logo{
                     position:fixed;
                     right:10px;
                    bottom: 10px 
                    }
    </style>
</html>
<html>
    <head>
        <title>MakersBnB</title>
    </head>
       <h1><p>Makers BnB</h1></p>
       <h2> Thank you for confirming the booking ! </h2>
       <body>
        <h3>booking details:</h3> 
            arrival: <%= @booking.start_date %></br>
            checkout: <%= @booking.end_date %></br>
            user id: <%= @booking.user_id %>
      </body>
      <p><button onclick="location.href='/bookings/<%= @booking.host_id%>'"> Back to host manager </button></p>
        <h1><img id="logo" src="./logo-no-background.png" alt="makerslogo" width="420" height="320"><h1>