<!DOCTYPE html>
    <style>
         #logo{
                     position:fixed;
                     right:10px;
                    bottom: 10px 
                    }
    </style>
<html>
    <head>
        <title>MakersBnB</title>
    </head>
       <h1><p>Makers BnB</h1></p>
       <h2> The booking has been removed! </h2>
      <p><button onclick="location.href='/bookings/<%= @booking.host_id%>'"> Back to host manager </button></p>
      <h1><img id="logo" src="./logo-no-background.png" alt="makerslogo" width="220" height="220"><h1>