<body>
  <style>
       body {
        background-color: lightblue;
        }
         #logo{
                     position:fixed;
                     right:10px;
                    bottom: 10px 
                    }
    </style>
<h1>List Of Bookings</h1>


  <% @bookings.each do |booking| %>
    <div>
    <label>Booking ID: </label> <%= booking.id %>
    </div>
    <div>
    <label>Start Date: </label> <%= booking.start_date %>
    </div>
    <div>
      <label>End Date: </label><%= booking.end_date %>
    </div>
    <div>
      <label>Confirmed: </label><%= booking.confirmed %>
    </div>
    <br>
    
  <%end%>
<h1><img id="logo" src="./logo-no-background.png" alt="makerslogo" width="420" height="320"><h1>
</body>