<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
    </head>
       <h1><p>Makers BnB</h1></p>
       <h2> The booking has been removed! </h2>
      <p><button onclick="location.href='/bookings/<%= @booking.host_id%>'"> Back to host manager </button></p>