<!DOCTYPE html>
<html>
    <style>
       body {
        background-color: lightblue;
                }
    </style>
    <head>
        <title>MakersBnB</title>
    </head>
    <body>
       <h1><p>Start your journey of renting your home</h1></p>
       
       <h2> Create a BNB Host Account </h2>
       
       <FONT COLOR="RED">
       <h4> * please ensure all fields are complete </h4>
       <FONT COLOR="BLACK">

      <form action="/host/register" method="POST">
      <div>
        <label>Full Name:</label>
        <input type="text" name="new_host_name">
      </div></br>

      <div>
        <label>Username:</label>
        <input type="text" name="new_host_username">
      </div></br>
      
      <div>
        <label>Email:</label>
        <input type="text" name="new_host_email">
      </div></br>

      <div>
        <label>Password:</label>
        <input type="text" name="new_host_password">
      </div></br>
      
      <input type="submit" value="Sign up">
      </form>


       <p><button onclick="location.href='/host/login'"> login </button></p>
    </body>
</html>