<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
    </head>
    <body>
       <h1><p>Makers BnB</h1></p>
       
       <h2> Create a new space </h2>
      <form action="/space/<%=@host_id%>" method="POST">
      <FONT COLOR="RED">
      <h4> * please ensure all fields are complete </h4>
      <FONT COLOR="BLACK">

      <div>
        <label>Space Name:</label>
        <input type="text" name="space_name">
      </div></br>

      <div>
        <label>Description</label>
        <input type="text" name="space_description">
      </div></br>
      
      <div>
        <label>Price per night</label>
        <input type="text" name="space_price">
      </div></br>
      
      <input type="submit" value="List space">
      </form>
    </body>
</html>