<!DOCTYPE html>
<html>
      <style>
       body {
        background-color: lightblue;
                }
      </style>
    <head>
        <title>MakersBnB</title>
    </head>
    <body>
       <h1><p>Feel at home anywhere</h1></p>
       
       <h2> Create a BNB Account </h2>
        <FONT COLOR="RED">
       
        <div>
         <%if @checking_params.name_contains_incorrect_characters? %>
           <p>Your name cannot include special characters or numbers</p>
         <%elsif @checking_params.username_contains_incorrect_characters? %>
           <p>Your username cannot contain any special characters</p>
        <% elsif @checking_params.password_contains_incorrect_characters? %>
           <p>Your password has prohibitted chacters. Please only use these special characters: . ! ? * @ & + - , </p>
        <% elsif @checking_params.weak_password? %>
           <p>Your password needs to be atleast 8 characters long with at least 1 number</p>
        <% elsif @checking_params.duplicate_username? %>
           <p>That username is already in use, please use a differnt username or login here <button onclick="location.href='/user/login'"> login </button></p>
        <% elsif @checking_params.duplicate_email? %>
           <p>That email is already in use, please use a differnt email address or login here <button onclick="location.href='/user/login'"> login </button></p>
        <% elsif @checking_params.invalid_email? %>
           <p>That is not a valid email address</p>
        <% end %>
       </div>

       <FONT COLOR="BLACK">
       
      <form action="/user/register" method="POST">
      <div>
        <label>Full Name:</label>
        <input type="text" name="new_name">
      </div></br>

      <div>
        <label>Username:</label>
        <input type="text" name="new_username">
      </div></br>
      
      <div>
        <label>Email:</label>
        <input type="text" name="new_email">
      </div></br>

      <div>
        <label>Password:</label>
        <input type="text" name="new_password">
      </div></br>
      
      <input type="submit" value="Sign up">
      </form>


       <p><button onclick="location.href='/user/login'"> login </button></p>
    </body>
</html>