<!DOCTYPE html>
<html>
    <style>
       body {
        background-color: lightblue;
                }
         #logo{
                     position:fixed;
                     right:10px;
                    bottom: 10px 
                    }
    </style>
    <head>
        <title>MakersBnB</title>
    </head>
    <body>
       <h1><p>Host manager</h1></p>
       <h2> Welcome back <%= @host.name %> </h2>

       <p><button onclick="location.href='/host/login'"> list a new space </button></p>
       <p><button onclick="location.href='/host/login'"> manage bookings </button></p>
       <h1><img id="logo" src="./logo-no-background.png" alt="makerslogo" width="320" height="320"><h1>