<!DOCTYPE html>
<html>
    <style>
       body {
        background-color: lightblue;
                }
         #logo{
                     position:fixed;
                     right:10px;
                    bottom: 10px 
                    }
    </style>
    <head>
        <title>MakersBnB</title>
    </head>
    <body>
       <h1><p>Log in to your host account</h1></p>
      <form action="/host/register" method="POST">
      <div>
        <label>Email:</label>
        <input type="text" name="host_email">
      </div></br>

      <div>
        <label>Password:</label>
        <input type="text" name="host_password">
      </div></br>
      
      <input type="submit" value="Sign up">
      </form>
      <h1><img id="logo" src="./logo-no-background.png" alt="makerslogo" width="320" height="320"><h1>
    </body>
</html>
