<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
    </head>
    <body>
       <h1><p>Log in to your host account</h1></p>
      <form action="/host/login" method="POST">
      <div>
        <label>Email:</label>
        <input type="text" name="host_email">
      </div></br>

      <div>
        <label>Password:</label>
        <input type="text" name="host_password">
      </div></br>
      
      <input type="submit" value="login">
      </form>
    </body>
</html>
