<!DOCTYPE html>
<html>
    <style>
       body {
        background-color: lightblue;
                }
    </style>
    <head>
        <title>MakersBnB</title>
    </head>
    <body>
       <h1><p>Host manager</h1></p>
       <h2> Welcome back <%= @host.name %> </h2>

       <p><button onclick="location.href='/host/login'"> list a new space </button></p>
       <p><button onclick="location.href='/host/login'"> manage bookings </button></p>