<!DOCTYPE html>
<html>
    <style>
            body {
        background-color: lightblue;
                }
                html, body {
            height: 80%;
             }

        html {
            display: table;
            margin: auto;
            }

        body {
            display: table-cell;
            vertical-align: middle;
            }
    </style>
    <head>
        <title>MakersBnB</title>
    </head>
    <body>
       <h1><p>Welcome to MakersBNB</h1></p>
       <p><button onclick="location.href='/user'"> I am looking for a space </button></p>
       <p><button onclick="location.href='/host'"> I want to host a space </button></p>
    </body>
</html>