<html>
    <style>
       body {
        background-color: lightblue;
                }
    </style>
    <head><title>Make a booking</title></head>
    <body>

    <h2>Booking form</h2>

    <form action="/booking/<%= @space.id %>" method="post">
        <div>
          <label>Date from</label>
          <input type="date" name="booking_start_date" placeholder="YYYY-MM-DD"><br />
        </div>
        <div>
          <label>Date until</label>
          <input type="date" name="booking_end_date" placeholder="YYYY-MM-DD"><br />
        </div>
        
        <input type="submit">
    </form>
</html>
