<html>
    <style>
       body {
        background-color: lightblue;
                }
         #logo{
                     position:fixed;
                     right:10px;
                    bottom: 10px 
                    }
    </style>
    <body>
        <title>Booking requested</title>
        <h1>Makers BnB</h1>

<h3> Thank you for creating a space </h3>
<p><button onclick="location.href='/bookings/<%= @host.id%>'"> Back to host manager </button></p>
<h1><img id="logo" src="./logo-no-background.png" alt="makerslogo" width="320" height="320"><h1>
