<html>
    <style>
       body {
        background-color: lightblue;
                }
    </style>
    <body>
        <title>Booking requested</title>
        <h1>Makers BnB</h1>

<h3> Thank you for creating a space </h3>
<p><button onclick="location.href='/bookings/<%= @host.id%>'"> Back to host manager </button></p>
