<!DOCTYPE html>
<html>
      <style>
         body {
        background-color: lightblue;
                }
         #logo{
                     position:fixed;
                     right:10px;
                    bottom: 10px 
                    }
      </style>
    <head>
        <title>MakersBnB</title>
    </head>
    <body>
       <h1><p>Log in to your account</h1></p>
      <form action="/register" method="POST">
      <div>
        <label>Email:</label>
        <input type="text" name="user_email">
      </div></br>

      <div>
        <label>Password:</label>
        <input type="text" name="user_password">
      </div></br>
      
      
      <input type="submit" value="Sign up">
      </form>
    </body>
    <h1><img id="logo" src="./public/logo-no-background.png" alt="makerslogo" width="220" height="220"><h1>
</html>