<html>
  <style>
       body {
              background-color: lightblue;
            }
         #logo{
                     position:fixed;
                     right:10px;
                    bottom: 10px 
                    }
  </style>
  <head></head>
  <body>
    <h1> Makers BNB </h1>
    <h2><p>Thank you for signing up to MakerBnB!</p></h2>
    
    <p><button onclick="location.href='/spaces'"> View Spaces </button></p>
  </body>
  <h1><img id="logo" src="./logo-no-background.png" alt="makerslogo" width="320" height="320"><h1>
</html>