<html>
  <style>
       body {
        background-color: lightblue;
                }
  </style>
  <head></head>
  <body>
    <h1> Makers BNB </h1>
    <h2><p>Thank you for signing up to MakerBnB!</p></h2>
    
    <p><button onclick="location.href='/spaces'"> View Spaces </button></p>
  </body>
</html>