<!DOCTYPE html>
<html>
      <style>
         body {
        background-color: lightblue;
                }
      </style>
    <head>
        <title>MakersBnB</title>
    </head>
    <body>
       <h1><p>Log in to your account</h1></p>
      <form action="/register" method="POST">
      <div>
        <label>Email:</label>
        <input type="text" name="user_email">
      </div></br>

      <div>
        <label>Password:</label>
        <input type="text" name="user_password">
      </div></br>
      
      
      <input type="submit" value="Sign up">
      </form>
    </body>
</html>