<!DOCTYPE html>
<html>
    <style>
       body {
        background-color: lightblue;
             }
        body {
        background-color: lightblue;
        max-width: 500px;
        margin: auto;
        padding: 10px;
        text-align:center;
        }
        #logo{
            position:fixed;
            right:10px;
            bottom: 10px 
            }
    </style>
    <head>
        <title>MakersBnB</title>
    </head>
    <body>
       <h1><p>Feel at home anywhere</h1></p>
       
       <h2> View places to stay... </h2>
      
       <div>
          <% @spaces.each do |space| %>
            <p>
              <strong><%= space.name %></strong></br>
              <%= space.description %> </br>
              price per night: <%= space.price %> 
              <p><button onclick="location.href='/booking/<%=space.id%>'"> request to book </button></p>
          <% end %>
      </div> 
  </body>
  <h1><img id="logo" src="./logo-no-background.png" alt="makerslogo" width="220" height="220"><h1>
</html>